<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxg.testmjfs.mapper.YewubuMapper">

    <resultMap type="com.hxg.testmjfs.bean.Yewubu" id="yewubu">
        <id property="id" column="id"/>
        <result property="kuanhao" column="kuanhao"/>
        <result property="yanse" column="yanse"/>
        <result property="xs" column="xs"/>
        <result property="s" column="s"/>
        <result property="m" column="m"/>
        <result property="l" column="l"/>
        <result property="xl" column="xl"/>
        <result property="xxl" column="xxl"/>
        <result property="xxxl" column="xxxl"/>
    </resultMap>

    <insert id="insert">
        insert into yewubut(kuanhao,yanse,xs,s,m,l,xl,xxl,xxxl)
        values (#{kuanhao},#{yanse},#{xs},#{s},#{m},#{l},#{xl},#{xxl},#{xxxl})
    </insert>

    <delete id="delete">
        delete from yewubut where kuanhao=#{kuanhao}
    </delete>

    <select id="selectByKuanhao" resultMap="yewubut">
        select
            kuanhao,yanse,xs,s,m,l,xl,xxl,xxxl
        from
            yewubut
        where
            kuanhao=#{kuanhao}
    </select>

</mapper>
